<!DOCTYPE html>
<html lang="en">

<head>
    <title>讯飞语音识别数据管理平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{static_url('css/main.css')}}"/>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <script src="{{static_url('js/jquery-3.2.1.js')}}"></script>
    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/myjs.js')}}"></script>

</head>

<body id="articlePage">

<div id="articleContainer"  class="article-page-bg">

    <div class="container-fluid thumbnail article-page-main">

        <div id="row">
            <h1><b>识别组数据管理平台</b></h1>
            <h4 class="article-page-site-description">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;——让世界聆听我们的声音</h4>
            <ul class="nav nav-pills article-nav">

            </ul>
        </div>

        <div class="row">
            <div class="col-lg-8 article-page-main">
                <article>
                    <header>
                        <h2 class="text-center"><b>{{articleTitle}}</b></h2>
                        <h4 class="text-center">
                            <small>作者：{{articleWriter}}</small>&emsp;<small>日期：{{articleDate}}</small>&emsp;<small>
                            类别：{{articleClass}}
                        </small>
                        </h4>
                    </header>
                    <div class="article-content">{{articleContent}}</div>
                </article>
            </div>

            <div class="col-lg-4 article-page-aside">
                <h2>其他文章</h2>
                <div id="otherTool">

                </div>
                <a href="/tools">更多文章</a>
            </div>
        </div>


        <script>

            var imgs = document.getElementsByTagName("img");
            for (var i = 0; i < imgs.length; i++) {
                imgs[i].className = "article-img";
            }
        </script>

    </div>

</div>

<footer class="container-fluid main-container-fluid text-center">
    <a href="#articlePage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <a href="#" title="查看隐私政策">隐私政策</a>
        </div>
        <div class="col-sm-2">
            <a href="#" title="查看平台信息">平台信息</a>
        </div>
        <div class="col-sm-2">
            <a href="#" title="查看免责声明">免责声明</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <p>Presented by
        <a href="http://www.iflytek.com" title="ifytek">www.iflytek.com</a>
    </p>
</footer>

</body>

</html>