<!DOCTYPE html>
<html lang="en">
<head>
    <title>语言模型数据管理平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{static_url('css/main.css')}}"/>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <script src="{{static_url('js/jquery-3.2.1.js')}}"></script>
    <script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/myjs.js')}}"></script>
</head>
<body id="businessBody">

<div>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-fixed-top navbar-other">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><h4>语言模型数据管理平台</h4></a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown list-item" href="#">
                        <a class="dropdown-toggle btn btn-sm btn-info user-btn" data-toggle="dropdown">{{user}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="userInfo" href="#">个人信息</a></li>
                            <li><a id="userModifyPassword" href="#">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a id="userLogout" href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="businessContainer" class="business-bg container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">业务分类</div>
                    <div id="businessClassList" class="panel-group">
                        <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                        <!--<h4 class="panel-title">-->
                        <!--<a data-toggle="collapse" href="#collapse1">Collapsible list group</a>-->
                        <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapse1" class="panel-collapse collapse">-->
                        <!--<ul class="list-group">-->
                        <!--<li class="list-group-item">One</li>-->
                        <!--<li class="list-group-item">Two</li>-->
                        <!--<li class="list-group-item">Three</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>

            <div class="col-lg-9">

                <!-- Modal -->
                <div class="modal fade" id="fileContentModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">文件预览</h4>
                            </div>
                            <div id="modalFileContent" class="modal-body">

                            </div>
                            <div class="modal-footer" id="fileContentModalFooter">
                                <div class="row">

                                    <div class="col-md-5"></div>
                                    <button id="businessModalLastPage" type="button" class="btn btn-default col-md-1">上一页
                                    </button>
                                    <button id="businessModalNextPage" type="button" class="btn btn-default col-md-1">下一页
                                    </button>
                                    <div class="col-md-2"></div>
                                    <a id="businessModalDownloadBtnLink" class="btn btn-primary col-md-1">下载</a>
                                    <button type="button" class="btn btn-default col-md-1" data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="businessSearchBar">

                    <form class="form-inline col-sm-12 col-md-12 col-lg-12">
                        <input id="businessSearchContent" type="search"
                               class="form-control col-sm-11 col-md-11 col-lg-11" placeholder="需要搜索的内容…">
                        <button id="businessSearchBtn" type="button" class="btn btn-info col-sm-1 col-md-1 col-lg-1">
                            搜索
                        </button>
                    </form>

                </div>

                <div id="businessContentMainContainer">
                    <div id="subServiceDetailContainer" class="business-content well clearfix row"
                         style="display: none">

                        <div id="subServiceLMDetail">
                            <h2 id="bSubName" class="text-center">subServiceName</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="col-lg-3 text-center">Class</th>
                                    <th class="col-lg-9 text-center">Description</th>
                                </tr>
                                </thead>
                                <tbody id="subServiceTableBody">
                                <!--<tr>-->
                                <!--<td class="col-lg-4 text-center">Class</td>-->
                                <!--<td class="col-lg-8 text-center">Description</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                <!--<td class="col-lg-4 text-center">Class</td>-->
                                <!--<td class="col-lg-8 text-center">Description</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                <!--<td class="col-lg-4 text-center">Class</td>-->
                                <!--<td class="col-lg-8 text-center">Description</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                <!--<td class="col-lg-4 text-center">Class</td>-->
                                <!--<td class="col-lg-8 text-center">Description</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>

                        <div id="subServiceContainer" style="display: none">
                            <h2 class="text-center">子业务</h2>

                            <div class="panel-group">
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 subservice">
                                    <a href="#" class="a-black">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">子业务1</div>
                                            <div class="panel-body">子业务描述，子业务描述，子业务描述，子业务描述，</div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div id="businessSearchResultContainer" style="display: none">

                        <ul id="businessSearchResultList" class="list-group">

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="container-fluid main-container-fluid text-center blue-bg-white-font">
    <div class="row">
        <a href="#writeArticlePage" class="col-lg-12" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <a href="#" title="查看隐私政策">隐私政策</a>
        </div>
        <div class="col-sm-2">
            <a href="#" title="查看平台信息">平台信息</a>
        </div>
        <div class="col-sm-2">
            <a href="#" title="查看免责声明">免责声明</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <p>Presented by
        <a href="http://www.iflytek.com" title="ifytek">www.iflytek.com</a>
    </p>
</footer>

</body>
</html>